

/* menu */
.nav-link{
  color: rgb(62, 165, 114);
}

.nav-limk:hover{
  color: #111111;
}


/* Hero */
.hero {
  padding: 0;
}

.hero .carousel {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  position: relative;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero .carousel-item::before {
  content: "";
  background-color: #00000060;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.hero h2 {
  margin-bottom: 3rem;
  color: #f3d7d7;
  font-size: 3rem;
  font-weight: 700;
  animation: fadeInDown 1s both;
}

.hero p {
  color: #e2e2e2;
  max-width: 60%;
}
/* Icones setas Trocam slides */
.hero .carousel-control-prev
.hero .carousel-control-next {
  background: none;
  font-size: 2rem;
  line-height: 0;
  width: 10%;
  transition: 0.3s;
  opacity: 0.3;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-prev:hover{
  opacity: 0.9;
  color: rgb(112, 196, 230);
  transition: 0.35;
  border: none;
}

.hero.carousel-prev-focus,
.hero.carousel-next-focus{
  opacity: 0.5;
  line-height: 0;

}

.carousel-indicators .active{
background-color: #84bebe;

}

/* call to action */
.cta{
  padding: 7.25rem 0;
  position: relative;
  clip-path: inset(0);


}
 


.hero .carousel-indicators li {
  cursor: pointer;
}

.carousel-indicators .active {
    background-color: #08aaeb !important; /* cor do indicador ativo */
}

/* Call to Action */

.cta {
  padding: 7.25rem 0;
  position: relative;
  clip-path: inset(0);
  /* Recorte */
}

.cta img {
  display: block;
  position: fixed;
  /* Posição */
  top: 0;
  right: 0;
  width: 100%;
  /* largura */
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cta .container {
  position: relative;
  z-index: 3;
}

/* Filtro Antes da Foto */
.cta::before {
  content: "";
  background: #3a3a3a79;
  position: absolute;
  inset: 0;
  z-index: 3;
}

.cta .cta-btn {
  font-size: 1.4rem;
  color: rgb(223, 231, 231);
  /* background: green; */
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  border-radius: .5rem;
  transition: .5s;
  letter-spacing: 1px;
  font-weight: 400;
  border: 2px solid rgb(224, 241, 241);
}

.cta-btn {
  margin-top: 20px;
  /* Ajuste o valor conforme necessário */
}

.cta .cta-btn:hover {
  /* filter: brightness(80%); */
  background: rgb(48, 128, 48);
  border: none;
  /*   box-shadow: 1px 1px 15px 5px #0000003d; */
}
/* filtros */

/* UL */
.portfolio-filters {
  list-style: none;
   margin: 10px auto 20px auto;
   text-align: center;
   
 
}

/* todas as li's */
.portfolio-filters li{
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  background: #f2f4f5;
  color: #1d1e1f;
  border-radius: o.2rem;
  justify-items: center;

}

.portfolio-filters li:hover ,
.portfolio-filters li.filter-active {
  filter: brightness(85%);
  background:#76c6e6 ;
  color: #f7f7f7;;
}

/* O site em telas até 575px */
@media (max-width: 575px){
  .portfolio-filters li {
    font-size: 1rem;

  }

 

}
 .portfolio-content .portfolio-info{
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    background: #0a0a0a3a;;
    padding: 15px;
  }
 /* link= (a hreaf) da IMG */

 .portfolio-content .portfolio-info .preview-link {
  position: absolute;
  font-size: 2rem;
  color: #f7f0f0;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  transition: 0.3s;
  
 }

 .portfolio-content:hover .portfolio-info{
  opacity: 1;
 }

 .portfolio-content:hover img{
  transform: scale(1.1);
 }

.portfolio-content{
  position: relative;
  overflow: hidden;
}
.portfolio-content img{
  transition: 0.3s;
}


